name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

env:
  DOCKER_IMAGE: carlosedbertucio/smartblin-bot:tagname
  DOCKER_TAG: latest

jobs:
  build-and-push-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: carlosedbertucio
          password: ${{ secrets.DOCKER_PASSWORD }} # Recomendação: use secrets para a senha

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}

  deploy:
    needs: build-and-push-ci
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /caminho/do/projeto
            docker-compose pull
            docker-compose down
            docker-compose up -d
